<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<div id="home">
  <main>
    <div class="container padding ">
      <div class="row my-row">
        <div class="col-sm-3">
          <div class="container" >
            <img class="image-rounded" src="<%=profile.avatar%>">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="container py-5 px-3">
            <h1 class="text-primary"><%= profile.name %></h1>
            <h1 class="text-warning"><%= profile.gamerTag%></h1>
            <h2 class="text-warning"><%= profile.roleSelect %></h1>
              <% if (user.profile._id.toString() === profile._id.toString()) { %>
                <%# This is where we'll add the UI to edit a profile %> 
                  <a 
                    class="btn btn-warning align-center"
                    role="button" 
                    href="/profile/<%= profile._id %>/edit"
                  >
                    Edit Profile
                  </a>
                  <a 
                    class=" btn btn-danger my-5"
                    role="button" 
                    href="/auth/logout"
                  >
                    Logout
                  </a>
              <% } %>
              <% if (!profile._id.equals(userProfile._id) && !userProfile.followers.includes(profile._id)) { %>
                <a href="/profile/<%= profile._id %>/follow" class="btn btn-primary">
                  Follow
                </a>
              <% } %>
              <%# if this is not my profile page          &&  the user being viewed is in my friends list %> 
              <% if (!profile._id.equals(userProfile._id) && userProfile.followers.includes(profile._id)) { %>
                <a href="/profile/<%= profile._id %>/unfollow" class="btn btn-primary">
                  Unfollow
                </a>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-lg-auto col-sm-4 col-sml-auto" id="sidePanel">
            <h2 class="mb-3">Following</h2>
            <% if (profile.followers.length === 0) { %>
             <h2>Not Following Anyone</h2>
            <% } %>     
            <% profile.followers.forEach(follower => { %>
              <div class="list-group" >
                
              <a class="text-decoration-none list-group-item" id="followers" href="/profile/<%= follower._id %>">
                    
                  <div class="card shadow-sm list-group-item" id="followerBox">
                      <% if (follower.avatar) { %>
                        <img
                          class="card-img-top"
                          src="<%= follower.avatar %>"
                          alt="<%= follower.name %>'s avatar"
                          width="100%"
                          height="100"
                        />
                      <% } else {%>
                        <img
                          class="card-img-top list-group-item"
                          src="/images/icons/user.png"
                          alt="A placeholder avatar"
                          width="100%"
                          height="50"
                        />
                      <% } %>
                      <div class="card-body mh-50 list-group-item" >
                        <p class="card-title text-dark fs-5" ><%= follower.name %></p>
                        <p class="card-text text-dark fs-6 mt-0">
                          Joined <%= follower.createdAt.toLocaleDateString() %>
                        </p>
                      </div>
                    </div>
                  </a>
                </div>
            <% }) %> 
          </div>
          <div class="col-lg-8" id="threadList" >
            <div class="container">
              <h2 class="">GROUPS</h2>
              <% if (posts.length === 0) { %>
                <h2>No Groups Joined</h2>
               <% } %>  
              <div class="list-group">
                <% posts.forEach(post => { %>
                  <div class="card-body bg-dark list-group-item">
                    <p class="card-title fs-4 text-alert"><% post.leader %></p>
                    <p class="card-text fs-5 text-light">
                      Title: <%= post.title %>
                    </p>
                    <p class="card-text fs-5 text-light">
                      Available Positions:
                    </p>
                    <ul>
                      <li class="text-light text-decoration-none"><%= post.suppor1 ? "" : "SUPPORT"  %> </li>
                      <li class="text-light text-decoration-none"><%= post.suppor2 ? "" : "SUPPORT"  %> </li>
                      <li class="text-light"><%= post.dps1 ? "" : "DPS"  %> </li>
                      <li class="text-light"><%= post.dps2 ? "" : "DPS"  %> </li>
                      <li class="text-light"><%= post.tank1 ? "" : "TANK"  %> </li>
                      <li class="text-light"><%= post.tank2 ? "" : "TANK"  %> </li>
                    </ul>
                    <a 
                      href="/posts/<%=post._id%>" 
                      class="btn btn-primary list-group-item-action"
                    >
                      Details
                    </a>
                  </div>
                <% }) %>
              </div>
            </div>     
          </div>
        </div>
      </div>
    </main>
</div>

<%- include('../partials/footer') %>