<%- include('../partials/html-head') %>
<% if (user.profile._id.toString() === profile._id.toString()) { %>
  <style>
    #profile-dropdown {
      display: none;
    }
  </style>
<% } %>
<%- include('../partials/nav') %>

<div id="home">
  <div class="container">
  <section class="text-secondary px-4 py-5 text-center">
    <% if (profile.avatar) { %>
      <img
        class="image-rounded" 
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %>'s avatar"
      >
    <% } else {%>
      <img
        src="/images/icons/user.png" 
        alt="A placeholder avatar"
      >
    <% } %> 
    <h1 class="display-5 fw-bold text-white pt-2"><%= profile.name %></h1>
    <div class="container py-4">
      <table class="table table-light table-striped align-middle">
        <tbody>
            <tr>
              <td>Google Email:</td>
              <td><%= profile.email %></td>
            </tr>
          
          <tr>
            <td>Name:</td>
            <td><%= profile.name %></td>
          </tr>
          <tr>
            <td>Gamer Tag:</td>
            <td><%= profile.gamerTag %></td>
          </tr>
          <tr>
            <td>Platform:</td>
            <td><%= profile.platform %></td>
          </tr>
          <tr>
            <td>Role:</td>
            <td><%= profile.roleSelect %></td>
          </tr>
          <tr>
            <td>Avatar URL:</td>
            <td>
              <a href="<%= profile.avatar %>">
                <%= profile.avatar.substring(0, 35) %>
                <% if (profile.avatar.length > 35) { %>
                ...
                <% } %>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <% if (user.profile._id.toString() === profile._id.toString()) { %>
        <%# This is where we'll add the UI to edit a profile %> 
          <a 
            class="btn btn-warning align-center"
            role="button" 
            href="/profile/<%= profile._id %>/edit"
          >
            Edit Profile
          </a>
          <a 
            class=" btn btn-danger my-5"
            role="button" 
            href="/auth/logout"
          >
            Logout
          </a>
      <% } %>
      <%# This is where we'll add a button to 'friend/unfriend' a user %> 
      <%# if this is not my profile page          &&  the user being viewed is not in my friends list %> 
      <% if (!profile._id.equals(userProfile._id) && !userProfile.followers.includes(profile._id)) { %>
        <a href="/profile/<%= profile._id %>/follow" class="btn btn-primary">
          Follow
        </a>
      <% } %>
      <%# if this is not my profile page          &&  the user being viewed is in my friends list %> 
      <% if (!profile._id.equals(userProfile._id) && userProfile.followers.includes(profile._id)) { %>
        <a href="/profile/<%= profile._id %>/unfollow" class="btn btn-primary">
          Unfollow
        </a>
      <% } %>
    </div>
  </section>
</div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-lg-auto col-sm-3 col-sml-auto" id="sidePanel">
        <h2 class="mb-3">Following</h2>     
        <% profile.followers.forEach(follower => { %>
          <div class="list-group" >
            
          <a class="text-decoration-none list-group-item" id="followers" href="/profile/<%= follower._id %>">
                
              <div class="card shadow-sm list-group-item">
                  <% if (follower.avatar) { %>
                    <img
                      class="card-img-top"
                      src="<%= follower.avatar %>"
                      alt="<%= follower.name %>'s avatar"
                      width="100%"
                      height="100"
                    />
                  <% } else {%>
                    <img
                      class="card-img-top list-group-item"
                      src="/images/icons/user.png"
                      alt="A placeholder avatar"
                      width="100%"
                      height="50"
                    />
                  <% } %>
                  <div class="card-body mh-50 list-group-item" >
                    <p class="card-title text-dark fs-5" ><%= follower.name %></p>
                    <p class="card-text text-dark fs-6 mt-0">
                      Joined <%= follower.createdAt.toLocaleDateString() %>
                    </p>
                  </div>
                </div>
              </a>
            </div>
        <% }) %> 
      </div>
      <div class="col-lg-6" id="threadList" >
        <div class="container">
          <h2 class=""><%= profile.gamerTag %>'s Posts</h2>
          <div class="list-group">
            <% posts.forEach(post => { %>
              <div class="card-body list-group-item">
                <p class="card-title fs-4 text-dark"><% post.leader %></p>
                <p class="card-text fs-5 text-dark">
                  Title: <%= post.title %>
                </p>
                <p class="card-text fs-5 text-dark">
                  Available Positions:
                </p>
                <ul>
                  <li><%= post.suppor1 ? "Filled" : "Empty"  %> </li>
                  <li><%= post.suppor2 ? "Filled" : "Empty"  %> </li>
                  <li><%= post.dps1 ? "Filled" : "Empty"  %> </li>
                  <li><%= post.dps2 ? "Filled" : "Empty"  %> </li>
                  <li><%= post.tank1 ? "Filled" : "Empty"  %> </li>
                  <li><%= post.tank2 ? "Filled" : "Empty"  %> </li>
                </ul>
                <a 
                  href="/posts/<%=post._id%>" 
                  class="btn btn-primary list-group-item-action"
                >
                  Details
                </a>
              </div>
            <% }) %>
          </div>
        </div>     
      </div>
      <div class="col-lg-3" id="friendsList">
        
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>