<%- include('../partials/html-head') %>
<% if (user.profile._id.toString() === profile._id.toString()) { %>
  <style>
    #profile-dropdown {
      display: none;
    }
  </style>
<% } %>
<%- include('../partials/nav') %>

<div id="home">
  <section class="text-secondary px-4 py-5 text-center">
    <% if (profile.avatar) { %>
      <img
        class="image-rounded" 
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %>'s avatar"
      >
    <% } else {%>
      <img
        src="/images/icons/user.png" 
        alt="A placeholder avatar"
      >
    <% } %> 
    <h1 class="display-5 fw-bold text-white pt-2"><%= profile.name %></h1>
    <div class="container py-4">
      <table class="table table-light table-striped align-middle">
        <tbody>
          <% if (user.profile._id.toString() === profile._id.toString()) { %>
            <tr>
              <td>Google Email:</td>
              <td><%= user.email %></td>
            </tr>
          
          <tr>
            <td>Name:</td>
            <td><%= profile.name %></td>
          </tr>
          <tr>
            <td>Gamer Tag:</td>
            <td><%= profile.gamerTag %></td>
          </tr>
          <tr>
            <td>Platform:</td>
            <td><%= profile.platform %></td>
          </tr>
          <tr>
            <td>Role:</td>
            <td><%= profile.roleSelect %></td>
          </tr>
          <tr>
            <td>Avatar URL:</td>
            <td>
              <a href="<%= profile.avatar %>">
                <%= profile.avatar.substring(0, 35) %>
                <% if (profile.avatar.length > 35) { %>
                ...
                <% } %>
              </a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 " id="sidePanel">
        <h2 class="mb-3"><%= profile.name %>'s friends</h2>     
        <% profile.followers.forEach(follower => { %>
          <div class="row">
            <a class="text-decoration-none" href="/profile/<%= follower._id %>">
              <div class="col-sml-4">
                <div class="card shadow-sm">
                  <% if (follower.avatar) { %>
                    <img
                      class="card-img-top"
                      src="<%= follower.avatar %>"
                      alt="<%= follower.name %>'s avatar"
                      width="50"
                      height="100"
                    />
                  <% } else {%>
                    <img
                      class="card-img-top"
                      src="/images/icons/user.png"
                      alt="A placeholder avatar"
                      width="100%"
                      height="170"
                    />
                  <% } %>
                  <div class="card-body">
                    <p class="card-title text-dark fs-5"><%= follower.name %></p>
                    <p class="card-text text-dark fs-6 mt-0">
                      Joined <%= follower.createdAt.toLocaleDateString() %>
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        <% }) %> 
      </div>
      <div class="col-sm-6" id="threadList" >
        <div class="container">
          <h2 class=""><%= profile.gamerTag %>'s Posts</h2>
          <div class="list-group">
            <% posts.forEach(post => { %>
              <div class="card-body list-group-item">
                <p class="card-title fs-4 text-dark"><% post.leader %></p>
                <p class="card-text fs-5 text-dark">
                  Title: <%= post.title %>
                </p>
                <p class="card-text fs-5 text-dark">
                  Available Positions:
                </p>
                  <p>Support <%= post.support1 ? "Filled" :"Not Filled" %> </p>
                  <p>Support <%= post.support2 ? "Filled" : "Not Filled" %></p> 
                  <p>DPS <%= post.dps1 ? "Filled" : "Not Filled" %> </p>
                  <p>DPS <%= post.dps2 ? "Filled" : "Not Filled" %> </p>
                  <p>TANK <%= post.tank1 ? "Filled" : "Not Filled" %> </p>
                  <p>Tank <%= post.tank2 ? "Filled" : "Not Filled" %> </p>
              
                <a 
                  href="/posts/<%=post._id%>" 
                  class="btn btn-primary list-group-item-action"
                >
                  Details
                </a>
              </div>
            <% }) %>
          </div>
        </div>     
      </div>
      <div class="col-sm-3" id="friendsList">
        <% if (user.profile._id.toString() === profile._id.toString()) { %>
          <%# This is where we'll add the UI to edit a profile %> 
          <div class="list-group">
            <a 
              class="list-group-item list-group-item-action btn btn-warning align-center"
              role="button" 
              href="/profile/<%= profile._id %>/edit"
            >
              Edit Profile
            </a>
            <a 
              class="list-group-item list-group-item-action btn btn-danger my-5"
              role="button" 
              href="/auth/logout"
            >
              Logout
            </a>
          </div>
        <% } %>
        <%# This is where we'll add a button to 'friend/unfriend' a user %> 
        <%# if this is not my profile page          &&  the user being viewed is not in my friends list %> 
        <% if (!profile._id.equals(userProfile._id) && !userProfile.followers.includes(profile._id)) { %>
          <a href="/profile/<%= profile._id %>/follow" class="btn btn-primary">
            Follow
          </a>
        <% } %>
        <%# if this is not my profile page          &&  the user being viewed is in my friends list %> 
        <% if (!profile._id.equals(userProfile._id) && userProfile.followers.includes(profile._id)) { %>
          <a href="/profile/<%= profile._id %>/unfollow" class="btn btn-primary">
            Unfollow
          </a>
        <% } %>
      </div>
    </div>
    <% if (user.profile._id.toString() != profile._id.toString()) { %>

    <div class="container">
      <form action="/reviews/<%= profile._id %>" method="POST">
        <div class="mb-3 mt-4">
          <label 
            for="exampleFormControlTextarea1" 
            class="form-label text-light"
          >
            Leave a review:
          </label>
          <textarea 
            name="content" 
            class="form-control" 
            id="exampleFormControlTextarea1" 
            rows="3"
          ></textarea>
          <select 
            name="rating" 
            class="form-select" 
          >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>        
        </div>
        <button class="btn btn-warning"type="submit">Add Review</button>
      </form>
      <% } %> 
      <% if (profile?.reviews.length) { %>
      <h2 class="text-light my-3">Reviews:</h2>
      <div 
        class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g1 px-4"
      >
      <% profile.reviews.forEach(review => { %>
        <div class="col">
          <div class="card mb-3 bg-secondary">
            <div class="row g-0">
              <%= console.log(review._id) %> 
              <div class="col-3">
                <img 
                  src="<%= review.avatar%>" 
                  class="img-fluid rounded-circle ms-2 mt-2" 
                  alt="<%= review.name %>'s avatar"
                >
              </div>
              <div class="col-9">
                <div class="card-body">
                  <h3 class="card-title text-dark">
                    <a 
                      class="text-dark text-decoration-none" 
                      href="/profiles/<%= review.author %>"
                    >
                      <%= review.name %>
                    </a>
                  </h3>
                  <p class="card-text text-dark">
                    <%= "🌟".repeat(review.rating) %>
                  </p>
                  <p class="card-text text-dark"><%= review.content %></p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      <% }) %>
      </div>
    <% } %>
  </div>
</div>

<%- include('../partials/footer') %>