<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<div id="home">
  <main>
    <div class="container padding " id="statTracker">
      <div class="row my-row">
        <div class="col-sm-3">
          <div class="container" >
            <img class="card-img-top" src="<%=apiResult.icon%>">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="container" >
            <h1 class="text-primary"><%= apiResult.name %></h1>
            <h1 class="text-warning">LEVEL <%= apiResult.prestige%><%= apiResult.level%> </h1>
          </div>
        </div>
      </div>
      <div class="row d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <h2 class="mx-4">QuickPlay Stats</h2>
        <div class="col-sm-3 mt-3">
          <div class="container" id="statBox">
            <h3>Cards</h3>
            <p><%= apiResult.quickPlayStats.awards.cards %></p>
          </div>
        </div>
        <div class="col-sm-3 mt-3">
          <div class="container" id="statBox">
            <h3>Medals</h3>
            <p><%= apiResult.quickPlayStats.awards.medals %></p>
          </div>
        </div>
        <div class="col-sm-3 mt-3">
          <div class="container" id="statBox">
            <h3>Bronze</h3>
            <p><%=apiResult.quickPlayStats.awards.medalsBronze %></p>
          </div>
        </div>
        <div class="col-sm-3 mt-3">
          <div class="container" id="statBox">
            <h3>Silver</h3>
            <p><%=apiResult.quickPlayStats.awards.medalsSilver %></p>
          </div>
        </div>
      </div>
      <div class="row d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <div class="col-sm-3 mt-3">
          <div class="container" id="statBox">
            <h3>Gold</h3>
            <p><%= apiResult.quickPlayStats.awards.medalsGold %></p>
          </div>
        </div>
        <div class="col-sm-3 mt-3">
          <div class="container" id="statBox">
            <h3>Level</h3>
            <p><%= apiResult.prestige%><%= apiResult.level%></p>
          </div>
        </div>
        <div class="col-sm-3 mt-3">
          <div class="container" id="statBox">
            <h3>Endorsement</h3>
            <p><%= apiResult.endorsement%></p>
          </div>
        </div>
        <div class="col-sm-3 mt-3">
          <div class="container" id="statBox">
            <h3>Games Played</h3>
            <p><%= apiResult.quickPlayStats.games.played %> </p>
          </div>
        </div>
        <div class="row d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <h2 class="mx-4">Comp Stats</h2>
          <div class="col-sm-3 mt-3">
            <div class="container" id="statBox">
              <h3>Cards</h3>
              <p><%= apiResult.competitiveStats.awards.cards %></p>
            </div>
          </div>
          <div class="col-sm-3 mt-3">
            <div class="container" id="statBox">
              <h3>Medals</h3>
              <p><%= apiResult.competitiveStats.awards.medals %></p>
            </div>
          </div>
          <div class="col-sm-3 mt-3">
            <div class="container" id="statBox">
              <h3>Bronze</h3>
              <p><%=apiResult.competitiveStats.awards.medalsBronze %></p>
            </div>
          </div>
          <div class="col-sm-3 mt-3">
            <div class="container" id="statBox">
              <h3>Silver</h3>
              <p><%=apiResult.competitiveStats.awards.medalsSilver %></p>
            </div>
          </div>
        </div>
        <div class="row d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <div class="col-sm-3 mt-3">
            <div class="container" id="statBox">
              <h3>Gold</h3>
              <p><%= apiResult.competitiveStats.awards.medalsGold %></p>
            </div>
          </div>
          <div class="col-sm-3 mt-3">
            <div class="container" id="statBox">
              <h3>Games Played</h3>
              <p><%= apiResult.competitiveStats.games.played%></p>
            </div>
          </div>
          <div class="col-sm-3 mt-3">
            <div class="container" id="statBox">
              <h3>Games Won</h3>
              <p><%= apiResult.competitiveStats.games.played %></p>
            </div>
          </div>
          <div class="col-sm-3 mt-3">
            <div class="container" id="statBox">
              <h3>Games Played</h3>
              <p><%= apiResult.quickPlayStats.games.played %> </p>
            </div>
          </div>
    </div>
  </main>
</div>

<%- include('../partials/footer') %>