<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<main>
  <section class="bg-dark text-secondary px-4">
    <h1 class="display-5 fw-bold text-white pt-2 text-center">
      <img src="<%=apiResult.icon%>" alt="">
      <%= apiResult.name %>
    </h1>
    <div class="container py-4">
      <h4 class="display-5 fw-bold text-white pt-2 text-center">
          <%= apiResult.level %> 
      </h4>
      <div class="accordion" id="accordion">
        <div class="accordion-item bg-dark">
          <h2 class="accordion-header" id="headingOne">
            <button 
              class="accordion-button bg-dark text-light" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#collapseOne" 
              aria-expanded="true" 
              aria-controls="collapseOne"
            >
              Player Stats
            </button>
      <p class="mt-4 fs-4 text-light">rating:<img src="<%=apiResult.ratingIcon%>" alt="">
        <%= apiResult.rating%></p>
      <p class="mt-4 fs-4 text-light">level:<img src="<%=apiResult.levelIcon%>" alt="">
        <%= apiResult.prestige%><%= apiResult.level%></p>
        <img src="<%=apiResult.prestigeIcon%>" alt="">

      <p class="mt-4 fs-4 text-light">endorcement: <img src="<%=apiResult.endorsementIcon%>" alt="">
        <%= apiResult.endorcement%></p>
      <p class="mt-4 fs-4 text-light">QuickPlay</p>
      <table class="table table-hover">
        <thead>
            <tr class="tableHead">
                <th scope="col">Cards</th>
                <th scope="col">Medals</th>
                <th scope="col">Bronze Medals</th>
                <th scope="col">Silver Medals</th>
                <th scope="col">Gold Medals</th>
                <th scope="col">Games Played</th>
                <th scope="col">Games Won</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tableSec">
                <td><%= apiResult.quickPlayStats.awards.cards %> </td>
                <td><%= apiResult.quickPlayStats.awards.medals %> </td>
                <td><%= apiResult.quickPlayStats.awards.medalsBronze %> </td>
                <td><%= apiResult.quickPlayStats.awards.medalsSilver %> </td>
                <td><%= apiResult.quickPlayStats.awards.medalsGold %> </td>
                <td><%= apiResult.quickPlayStats.games.played %> </td>
                <td><%= apiResult.quickPlayStats.games.won%> </td>
               
            </tr>
        </tbody>
    </table>
    </div>
  </section>
</main>

<%- include('../partials/footer') %>