<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<main>
  <section class="bg-dark text-secondary px-4">
    <h1 class="display-5 fw-bold text-white pt-2 text-center">
      <%= apiResult.name %>
    </h1>
    <div class="container py-4">
      <img 
        width="100%" 
        src="<%= apiResult.background_image %>" 
        alt="<%= apiResult.name %>'s background image"
      >
      <div class="accordion" id="accordion">
        <div class="accordion-item bg-dark">
          <h2 class="accordion-header" id="headingOne">
            <button 
              class="accordion-button bg-dark text-light" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#collapseOne" 
              aria-expanded="true" 
              aria-controls="collapseOne"
            >
              Game Description
            </button>
          </h2>
          <div 
            id="collapseOne" 
            class="accordion-collapse collapse" 
            aria-labelledby="headingOne" 
            data-bs-parent="#accordion"
          >
            <div class="accordion-body">
              <p class="mt-4"><%= apiResult.description_raw %></p>
            </div>
          </div>
        </div>
      </div>
      <p class="mt-4 fs-4 text-light">Released: <%= apiResult.released %></p>
      <p class="mt-4 fs-4 text-light">
        ESRB Rating: 
        <%= apiResult.esrb_rating ? apiResult.esrb_rating.name : 'N/A' %>
      </p>
      <p class="mb-1 fs-4 text-light">Platforms:</p>
      <ul>
        <% apiResult.platforms.forEach(p => { %>
          <li class="fs-5 text-light"><%= p.platform.name %></li>
        <% }) %>
      </ul>
      <p class="mb-1 fs-4 text-light">Developers:</p>
      <ul>
        <% apiResult.developers.forEach(d => { %>
          <li class="fs-5 text-light"><%= d.name %></li>
        <% }) %>
      </ul>
      <p class="mb-1 fs-4 text-light">Genres:</p>
      <ul>
        <% apiResult.genres.forEach(g => { %>
          <li class="fs-5 text-light"><%= g.name %></li>
        <% }) %>
      </ul>
      <p class="fs-5 text-light">
        Metacritic Score: 
        <%= apiResult.metacritic ? apiResult.metacritic : 'N/A' %>
      </p>
      <%# This is where we'll list the profiles who have collected the game %> 
      <div class="accordion" id="accordion">
        <div class="accordion-item bg-dark">
          <h2 class="accordion-header" id="headingTwo">
            <button 
              class="accordion-button bg-dark text-light" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#collapseTwo" 
              aria-expanded="true" 
              aria-controls="collapseTwo"
            >
              This game appears in <%= game?.collectedBy.length %> GameGoose user collections:
            </button>
          </h2>
          <div 
            id="collapseTwo" 
            class="accordion-collapse collapse" 
            aria-labelledby="headingTwo" 
            data-bs-parent="#accordion"
          >
            <div class="accordion-body">
              <% game?.collectedBy.forEach(profile => { %>
                <a href="/profiles/<%= profile._id %>" class="text-white">
                  <p>
                    <img 
                      src="<%= profile.avatar %>" 
                      alt="<%= profile.name %>'s avatar"
                      class="me-3 rounded-circle"
                      width="50px"
                      height="50px"
                    >
                    <%= profile.name %>
                  </p>
                </a>
              <% }) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%# This is where we'll display a button to add/remove the game from your collection %> 
    <% if (!game?.collectedBy.some(profile => profile._id.equals(user.profile._id))) { %>
      <form 
        class="text-center" 
        action="/games/<%= apiResult.id %>/addToCollection" 
        method="POST"
      >
        <input type="text" name="name" hidden value="<%= apiResult.name %>">
        <input type="text" name="rawgId" hidden value="<%= apiResult.id %>">
        <input 
          type="text" 
          name="imageUrl" 
          hidden 
          value="<%= apiResult.background_image %>"
        >
        <input 
          type="text" 
          name="released" 
          hidden 
          value="<%= apiResult.released %>"
        >
        <button class="btn btn-primary">
          Add To Collection
        </button> 
      </form>
    <% } %>
    <% if (game?.collectedBy.some(profile => profile._id.equals(user.profile._id))) { %>
      <form 
        class="text-center" 
        action="/games/<%= apiResult.id %>/removeFromCollection?_method=DELETE" 
        method="POST"
      >
        <button class="btn btn-danger">
          Remove From Collection
        </button>
      </form>
    <% } %>
    <div class="container">
      <%# This is where we'll display a form to add a review once the game is added to your collection %> 
      <%#         if game hasn't already been reviewed by the logged in user       &&           if the game is in the logged in user's collection %> 
      <% if (!game?.reviews.some(review => review.author.equals(user.profile._id)) && game?.collectedBy.some(profile => profile._id.equals(user.profile._id))) { %>
        <form action="/reviews/<%= game._id %>" method="POST">
          <div class="mb-3 mt-4">
            <label 
              for="exampleFormControlTextarea1" 
              class="form-label text-light"
            >
              Leave a review:
            </label>
            <textarea 
              name="content" 
              class="form-control" 
              id="exampleFormControlTextarea1" 
              rows="3"
            ></textarea>
            <select 
              name="rating" 
              class="form-select" 
            >
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>        
          </div>
          <button class="btn btn-warning"type="submit">Add Review</button>
        </form> 
      <% } %>
      <%# This is where we'll display all the reviews for a game %> 
      <% if (game?.reviews.length) { %>
        <h2 class="text-light my-3">Reviews:</h2>
        <div 
          class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g1 px-4"
        >
        <% game.reviews.forEach(review => { %>
          <div class="col">
            <div class="card mb-3 bg-secondary">
              <div class="row g-0">

                <div class="col-3">
                  <img 
                    src="<%= review.author.avatar %>" 
                    class="img-fluid rounded-circle ms-2 mt-2" 
                    alt="<%= review.author.name %>'s avatar"
                  >
                </div>
                <div class="col-9">
                  <div class="card-body">
                    <h3 class="card-title text-dark">
                      <a 
                        class="text-dark text-decoration-none" 
                        href="/profiles/<%= review.author._id %>"
                      >
                        <%= review.author.name %>
                      </a>
                    </h3>
                    <p class="card-text text-dark">
                      <%= "🌟".repeat(review.rating) %>
                    </p>
                    <p class="card-text text-dark"><%= review.content %></p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        <% }) %>
        </div>
      <% } %>
    </div>
  </section>
</main>

<%- include('../partials/footer') %>