<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<main>
  <section class="bg-dark text-secondary px-4">
    <h1 class="display-5 fw-bold text-white pt-2 text-center">
      <%= apiResult.data.platformInfo.platformUserId %>
    </h1>
    <div class="container py-4">
      <h4 class="display-5 fw-bold text-white pt-2 text-center">
          <%= apiResult.data.metadata.lastUpdated.value %> 
      </h4>
      <div class="accordion" id="accordion">
        <div class="accordion-item bg-dark">
          <h2 class="accordion-header" id="headingOne">
            <button 
              class="accordion-button bg-dark text-light" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#collapseOne" 
              aria-expanded="true" 
              aria-controls="collapseOne"
            >
              Player Stats
            </button>
            <h1>Quickplay (Life Time)</h1>
      <p class="mt-4 fs-4 text-light">Time Played: <%= apiResult.data.segments[0].stats.timePlayed.displayValue%></p>
      <p class="mt-4 fs-4 text-light">Wins: <%= apiResult.data.segments[0].stats.wins.displayValue%></p>
      <p class="mt-4 fs-4 text-light">Time Spent on Fire: <%= apiResult.data.segments[0].stats.timeSpentOnFire.displayValue%></p>
      <p class="mt-4 fs-4 text-light">Gold Medals: <%= apiResult.data.segments[0].stats.goldMedals.displayValue%></p>
      <p class="mt-4 fs-4 text-light">Silver Medals: <%= apiResult.data.segments[0].stats.silverMedals.displayValue%></p>
      <p class="mt-4 fs-4 text-light">Bronze Medals: <%= apiResult.data.segments[0].stats.bronzeMedals.displayValue%></p>
      <p class="mt-4 fs-4 text-light">K/D: <%= apiResult.data.segments[0].stats.kd.displayValue%></p>
      <p class="mt-4 fs-4 text-light">Most Damage Done: <%= apiResult.data.segments[0].stats.mostDamageDone.displayValue%></p>
      <p class="mt-4 fs-4 text-light">Most Healing Done: <%= apiResult.data.segments[0].stats.mostHealingDone.displayValue%></p>
      <p class="mt-4 fs-4 text-light">Most Solo Kills: <%= apiResult.data.segments[0].stats.mostSoloKills.displayValue%></p>
            <h1>Competitive (last played season)</h1>
      <p class="mt-4 fs-4 text-light">Time Played: <%= apiResult.data.segments[1].stats.timePlayed.displayValue%></p>
      <p class="mt-4 fs-4 text-light">Wins: <%= apiResult.data.segments[1].stats.wins.displayValue%></p>
      <p class="mt-4 fs-4 text-light">Time Spent on Fire: <%= apiResult.data.segments[1].stats.timeSpentOnFire.displayValue%></p>
      <p class="mt-4 fs-4 text-light">Gold Medals: <%= apiResult.data.segments[1].stats.goldMedals.displayValue%></p>
      <p class="mt-4 fs-4 text-light">Silver Medals: <%= apiResult.data.segments[1].stats.silverMedals.displayValue%></p>
      <p class="mt-4 fs-4 text-light">Bronze Medals: <%= apiResult.data.segments[1].stats.bronzeMedals.displayValue%></p>
      <p class="mt-4 fs-4 text-light">K/D: <%= apiResult.data.segments[1].stats.kd.displayValue%></p>
      <p class="mt-4 fs-4 text-light">Most Damage Done: <%= apiResult.data.segments[1].stats.mostDamageDone.displayValue%></p>
      <p class="mt-4 fs-4 text-light">Most Healing Done: <%= apiResult.data.segments[1].stats.mostHealingDone.displayValue%></p>
      <p class="mt-4 fs-4 text-light">Most Solo Kills: <%= apiResult.data.segments[1].stats.mostSoloKills.displayValue%></p>

    </div>
  </section>
</main>

<%- include('../partials/footer') %>