<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<div id="home">
    <main>
    <div class="padding">
      <div class="container" id="lfgForm">
        <h1 class="text-align-center">LOOK FOR GROUP</h1>
        <form action="/posts/<%= post._id %>?_method=PUT" method="POST" >
            <div class="box">
                <label for="title-input"><h3>Title: </h3></label><br>
                <input type="text" id="title-input" name="title" value="<%= post.title %> ">
              </div>
              <div class="box">
                <label for="queue-input"><h3>QUEUE</h3></label>
                <select class="form-select align-items-center justify-content-between" id="exampleFormControlSelect2" name="queue" value="<%= post.queue %> ">
                  <option value="Competitive" >Competitive</option>
                  <option value="QuickPlay">Quick Play</option>
                </select>
              </div>
              <div class="box">
                <label for="eroles-input"><h3>Enforced Roles</h3></label><br>
                <input type="checkbox" name="eroles" checked id ="eroles-checkbox" value="<%= post.eroles %> " >Yes/No<br>
              </div>
              <div class="box">
                <h2>Hero Slots</h2><br>
              </div>
              <div class="box" id="heroSlots">
                <% post.team.forEach(member => { %>
                    <div class="row">
                      <a class="text-decoration-none" href="/profile/<%= member._id %>">
                        <div class="col-sml-4">
                          <div class="card shadow-sm">
                            <% if (member.avatar) { %>
                              <img
                                class="card-img-top"
                                src="<%= member.avatar %>"
                                alt="<%= member.name %>'s avatar"
                                width="50"
                                height="100"
                              />
                            <% } else {%>
                              <img
                                class="card-img-top"
                                src="/images/icons/user.png"
                                alt="A placeholder avatar"
                                width="100%"
                                height="170"
                              />
                            <% } %>
                            <div class="card-body">
                              <p class="card-title text-dark fs-5"><%= member.gamerTag %></p>
                              <p class="card-text text-dark fs-6 mt-0">
                                <%= member.roleSelect %>
                              </p>
                            </div>
                        </div>
                      </a>
                    </div>
                  <% }) %>
                </div>
                <div class="box" id="heroSlots">
                    <label for="support1-input" class="mx-3">
                        Support<br>
                        <input type="checkbox" name="support1"  value="<%= post.support1 %> "><br>
                    </label>
                    <label for="support2-input" class="mx-3">
                        Support<br>
                        <input type="checkbox" name="support2" value="<%= post.support2 %> "><br>
                    </label>  
                    <label for="dps1-input" class="mx-3">
                        DPS<br>
                        <input type="checkbox" name="dps1"  value="<%= post.dps1 %> "><br>
                    </label>
                    <label for="dps2-input" class="mx-3">
                        DPS<br>
                        <input type="checkbox" name="dps2" value="<%= post.dps2 %> "><br>
                    </label>
                    <label for="tank1-input" class="mx-3">
                        Tank<br>
                        <input type="checkbox" name="tank1"  value="<%= post.tank1%> "><br>
                    </label>
                    <label for="tank2-input" class="mx-3">
                        Tank<br>
                        <input type="checkbox" name="tank2" value="<%= post.tank2 %> "><br>
                    </label
                </div>
            </div>
            <button type="submit">Update Post</button><br>
        </form>
      </div>
    </div>
    </div>
</div>
</main>
  </div>

<%- include('../partials/footer') %>
