<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<div id="lfg">
    <div class="padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-sml-auto col-lg-12 col-lg-auto">
                    <table class="table table-hover" cellspacing="0" cellpadding="0" >
                        <thead>
                            <tr class="tableHead">
                                <th scope="col">TITLE</th>
                                <th scope="col">LEADER</th>
                                <th scope="col">QUEUE</th>
                                <th scope="col">ENFORCED ROLES</th>
                                <th scope="col">SUPPORT</th>
                                <th scope="col">SUPPORT</th>
                                <th scope="col">DPS</th>
                                <th scope="col">DPS</th>
                                <th scope="col">TANK</th>
                                <th scope="col">TANK</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% posts.forEach((post,indx)=>{ %> 
                            <tr class="tableSec">
                                <td><a href="/posts/<%=post._id %>" class="text-decoration-none"><%= post.title %> </a></td>
                                <td><a href="/profile/<%= post.leader._id %>" class="text-decoration-none"><%= post.leader.gamerTag%> </a> </td>
                                <td><%= post.queue %> </td>
                                <td><%= post.eroles %> </td>
                                <td><%= post.support1 ? "Filled" : "Not Filled" %> </td>
                                <td><%= post.support2 ? "Filled" : "Not Filled" %> </td>
                                <td><%= post.dps1 ? "Filled" : "Not Filled" %> </td>
                                <td><%= post.dps2 ? "Filled" : "Not Filled" %> </td>
                                <td><%= post.tank1 ? "Filled" : "Not Filled" %> </td>
                                <td><%= post.tank2 ? "Filled" : "Not Filled" %> </td>
                            </tr>
                            <% })%> 
                        </tbody>
                    </table>
                    <a class="nav-item nav-link" href="/posts/new">New LFG</a>

                </div>
            </div>
        </div>


    </div>
</div>
<%- include('../partials/footer') %>