<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<div id="profile">
  <div class="container">
      <div class="row">
          <div class="col-lg-12" id="threadList">
            <h1>Title : <%= post.title %> </h1><br>
            <h3>Leader : <%= post.leader.gamerTag %> </h3>
            <h3>Enforced? <%= post.eroles ? "Enforced" : "Not Enforced" %> </h3>
            <h3>Main Support: <%= post.support1 ? "Filled" : "Not Filled" %> </h3>
            <h3>Alt Support: <%= post.support2 ? "Filled" : "Not Filled" %> </h3>
            <h3>Main DPS: <%= post.dps1 ? "Filled" : "Not Filled" %> </h3>
            <h3>Alt DPS: <%= post.dps2 ? "Filled" : "Not Filled" %> </h3>
            <h3>Main Tank: <%= post.tank1 ? "Filled" : "Not Filled" %> </h3>
            <h3>Off Tank: <%= post.tank2 ? "Filled" : "Not Filled" %> </h3>
          </div>
  </div>
</div>
      <% if (user.profile._id.toString() === post.leader._id.toString()) { %>
      <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
        <button>X</button>
      </form>
      <% } %>
        <a class="nav-item nav-link" href="/posts/new">New LFG</a>
        <% if (!post?.collectedBy.some(profile => profile._id.equals(user.profile._id))) { %>
          <form 
            class="text-center" 
            action="/posts/<%= post._id %>/addToWall" 
            method="POST"
          >
            <button class="btn btn-primary">
              Add To Collection
            </button> 
          </form>
        <% } %>
        <% if (post?.collectedBy.some(profile => profile._id.equals(user.profile._id))) { %>
          <form 
            class="text-center" 
            action="/posts/<%= post.id %>/removeFromWall?_method=DELETE" 
            method="POST"
          >
            <button class="btn btn-danger">
              Remove From Collection
            </button>
          </form>
        <% } %>
    
    </div>
</div>
<%- include('../partials/footer') %>